@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src:  url("../../fonts/segoeui.ttf") format("ttf"),
  url("../../fonts/segoeui.woff") format("woff");
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42857143;
  position: relative;
  background: rgb(40,44,52);
  overflow-x: hidden;
}
body:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../../img/react.svg);
  background-repeat: no-repeat;
  background-position: 100% 100px;
  background-size: 50% auto;
  opacity: 0.05;
  z-index: -1;
}
.home-layout{
  display: flex;
  width: 140vw;
  height: 100%;
  position: relative;
  left: -40vw;
  transition: ease-in-out .3s all;
}
.home-layout.show-form{
  left: 0vw;
}

.home-layout .btn-add:before{
  content: '+';
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all ease-in-out .3s;
}

.home-layout.show-form .btn-add:before{
  content: 'x';
}
